@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    --black: #2d3436;
    --white: #ffffff;
}

:root {
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 85vh;
    background: url('images/yellowstone.jpg') no-repeat center;
    background-size: cover;
}

.header {
    padding: 20px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.main__header {
    font-weight: 400;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.hamburger {
    display: inline-block;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 20px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 20%;
    z-index: 15;
}

.hamburger__box {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 35px;
}
.hamburger__span,
.hamburger__span::after,
.hamburger__span::before {
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--white);
    left: 0;
}
.hamburger__span {
    top: 50%;
    transform: translateY(-50%);
    transition:  200ms 100ms ease-in-out
}

.hamburger__span::after,
.hamburger__span::before {
    position: absolute;
    content: '';
    transition: transform 300ms 100ms ease-in-out;
}

.hamburger__span::before {
    transform: translateY(10px);
}

.hamburger__span::after{
    transform: translateY(-10px);
}

.hamburger--active .hamburger__span {
    background: transparent;
}

.hamburger--active .hamburger__span::after {
    transform: translateY(0px) rotate(-45deg); 
}

.hamburger--active .hamburger__span::before {
    transform: translateY(0px) rotate(45deg);
}

.navbar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: calc(20vw - 10px);
    transform: translateX(calc(20vw - 10px));
    background: #2f3542;
    opacity: 0.1;
    transition: 400ms 100ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.navbar--active {
    transform: translateX(0px);
    opacity: 0.9;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
    padding: 10%;
    font-size: 2.5em;
    transition: 300ms 100ms ease-in-out;
    cursor: pointer;
}

.navbar__ul {
    list-style: none;
    padding: 5%;
}

.navbar__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__social__item {
    margin: 15px;
    cursor: pointer;
    transition: 300ms 100ms ease-in-out;
}

.navbar__social__item:hover {
    background-color: #7ed6df;
    opacity: 0.7;
}

.navbar__item {
    font-size: 2em;
    text-align: right;
    margin: 10px;
    padding: 10px;
    transition: 300ms 100ms ease-in-out;
    cursor: pointer;
}

.navbar__item:hover,
.navbar__menu:hover {
    filter: opacity(30%);
}

.icon--light {
    background: var(--black);
}

.icon--dark {
    background: var(--white);
}

.header__text__container {
    padding: 20px 20%;
    margin-top: 5%;
}

.header__text {
    color: var(--white);
    font-size: 70px;
    font-weight: 400;
    text-align: right;
}

.header__text--blue {
    color: #22a6b3;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
    align-items: center;
}

.section {
    min-height: 700px;
    object-fit: cover;
    opacity: 0.8;
    margin-top: 7%;
}

.parralaxSection {
    display: flex;
    justify-content: start;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}

.parralaxSection--right {
    justify-content: right;
}

.parallaxDiv {
    background: white;
    width: 45%;
    padding: 3.5em;
}

.section__paragraph {
    font-size: 1.3em;
    font-weight: 300;
}

.section1 {
    background: url('images/canyon.jpg');
}

.section2 {
    background: url('images/clouds-3291565_1920.jpg');
}

.section3 {
    background: url('images/evening.jpg');
}

.section4 {
    position: relative;
    display: flex;
    margin: 25% 0 0 0;
}

.section4::after,
.section4::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 30%;
}

.section4::before {
    top: -20px;
    left: -20px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.section4::after{
    bottom: -20px;
    right: -20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.section__textInformation {
    padding: 10%;
}

.section__header {
    margin-bottom: 0.4em;
    font-size: 2.4em;
    font-weight: 400;
}

.section__textHeader {
    margin-bottom: 0.4em;
    font-size: 1.7em;
    font-weight: 400;
}

.section__paragraph {
    text-align: justify;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.3em;
}

.section__point__list {
    list-style: inside;
}

.section__point {
    font-size: 1.3em;
}

.section__image {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.section5 {
    width: 100%;
    min-height: 500px;
    margin: 25% 0 15% 0;
}

.section__header__clients {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    padding: 1.3em;
}

.carousel {
    position: relative;
}

.carousel__slide__list {
    display: flex;
}

.carousel__slide {
    /* position: relative; */
    opacity: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 5%;
    transition: 400ms 100ms ease;
}

.carousel__slide--active {
    opacity: 1;
}

.carousel__slide__image {
    object-fit: cover;
    position: absolute;
    left: 5%;
    width: 25%;
    height: 120%;
}

.carousel__slide__textInformation {
    width: 65%;
    position: relative;
    padding: 2%;
}

.carousel__slide__textInformation::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 30%;
    top: 0;
    left: 0;
    border-top: 3px solid #f9ca24;
    border-left: 3px solid #f9ca24;
}

.carousel__slide__authorName {
    letter-spacing: 2px;
    font-size: 1.6em;
    font-weight: 400;
    margin: 0 0 5px 0;
}

.carousel__slide__authorDescription {
    letter-spacing: 1.3px;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 0 15px 0;
    color: rgba(0, 0, 0, 0.7);
}

.carousel__author__quotes {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.carousel__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    cursor: pointer;
    transition: 300ms 100ms ease-out;
    z-index: 3;
}

.carousel__arrow:hover,
.carousel__arrow:focus {
    opacity: 0.7;
}

.carousel__arrow--left {
    left: -5%;
}

.carousel__arrow--right {
    right: -5%;
}

.section6 {
    position: relative;
    margin: 10% 0;
    width: 100%;
    padding: 5%;
}

.section__news {
    font-size: 3em;
    position: absolute;
    left: 15%;
    font-weight: 400;
    top: 0;
}

.section__textNews {
    width: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: flex-start;
    position: relative;
}

.section__textNews::before {
    content: '';
    position: absolute;
    width: 15%;
    height: 80%;
    bottom: -30%;
    right: 20%;
    z-index: 2;
    background: #ff9ff3;
    opacity: 0.3;
}

.section__textNews__div {
    width: 70%;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: black;
    padding: 8%;
}

.textInformation__header {
    font-size: 2em;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.textInformation__date {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 30px 0;
    color: rgba(0, 0, 0, 0.7);
}

.textInformation__description {
    font-size: 1.2em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.3;
    text-align: justify;
}

.textInformation__readMore {
    display: inline-block;
    width: 100%;
    font-size: 1.1em;
    font-weight: 500;
    color: #e1b12c;
    text-align: end;
    text-decoration: none;
}

.textInformation__readMore:hover,
.textInformation__readMore:focus {
    filter: hue-rotate(180deg);
}

.section__newsImage {
    width: 30%;
    object-fit: cover;
    position: absolute;
    height: 140%;
    top: -20%;
    right: 0;
    z-index: 3;
}

.footer {
    padding: 30px 20%;
}

.foter__socialMediaIcons,
.footer__list,
.footer__nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer__image,
.footer__nav__item,
.footer__socialMediaIcons__item {
    transition: 300ms 100ms ease-in-out;
    cursor: pointer;
}

.footer__nav__item {
    margin: 0 10px;
}

.footer__socialMediaIcons__item {
    margin: 15px;
}

.footer__socialMediaIcons__item:hover,
.footer__nav__item:hover,
.footer__image:hover {
    background: #7ed6df;
    opacity: 0.7;
}